<!DOCTYPE html>
<html>
    <head>
        <title>{{website_title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
            a {
                padding-right: 15px;
            }
    </style>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/blog">Blogs</a>
    <a href="/add">Add an Blog Entry</a>
    <a href="/logout">Logout</a><br />
    </head>
    <body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>                                <!--# ^will allow the category to enable templetes for differnet info warnings-->
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}
        


        {% block content %}
        {% endblock %}

    </body>
</html>